// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FFFFFF;

// Main colors:

$main-yellow: #D8973C;
$hover-yellow: #E6BC82;
$pastel-gray: #D1CFBD;

// Gray scale colors:
$bright-gray: #EEEEEE;
$chinese-silver: #CCCCCC;
$spanish-gray: #999999;
$granit-gray: #666666;
$dark-charcoal: #333333;
