<div class="container container-cocktails">
    <div class="row row-container">
      <% @cocktails.each do |c| %>
      <div class="col-sm-12 col-md-4">
        <%= link_to cocktail_path(c), class: "link-for-card" do || %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path c.photo.key %>')">
          <%= c.name %>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  <br>
  <div class="link-container">
    <%= link_to "Back to the home page", root_path %>
  </div>
</div>

