<div class="form-link-container d-flex flex-column justify-content-center align-items-center">
  <div class="form-container">
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
       <%= f.button :submit, class: "btn-primary" %>
    <% end %>
  </div>
</div>
