<div class="container">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <!-- TODO -->
     <%= f.button :submit, class: "btn-primary" %>
  <% end %>
  <br>
  <%= link_to '<<', cocktails_path %>
</div>
