// Specific CSS for your home-page
.container-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;

  .btn-container {
    display: flex;
    flex-direction: column;

    .btn-primary {
      font-size: 22px;
      width: 200px;
      margin: 5px auto;
    }
  }
}
