<div class="container-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path 'bar_1_bd1tg3' %>')">
  <div class="btn-container">
    <%= link_to "All cocktails", cocktails_path, class: "btn btn-primary"%>
  </div>
</div>
