<div class="container-banner d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path 'bar-2_be36wy' %>')">
  <div class="btn-container d-flex flex-column">
    <div class="diamond d-flex justify-content-center align-items-center">
      <h2>Welcome to your online bar</h2>
    </div>
    <%= link_to "Our cocktails", cocktails_path, class: "btn btn-primary mt-5"%>
  </div>
</div>
