.btn-primary {
    margin-bottom: 1rem;
    color: white;
    background-color: $main-yellow;
    border-color: $main-yellow;
    transition: 0.2s;
    &:hover, &:not(:disabled):not(.disabled):active, &:focus {
      background-color: $hover-yellow;
      border-color: $hover-yellow;
    }
    &:focus, &:not(:disabled):not(.disabled):active:focus {
      box-shadow: none;
    }
  }
